/* primery-text-color: color: #212121
text-color: color: #757575
secondary-color: color: #ffffff
link-color: color: rgba(255, 255, 255, 0.6)
secondary-link-color: color: #2196F3
background-color: background-color: #2F303A*/

/* WebStudio */
.container
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.section
{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0px;
    margin-bottom: 0px;
}

:root
{
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --background-color: #ffffff;
    --button-color: #F5F4FA;
}
body
{
    color: var(--primery-text-color);
    background-color: #ffffff;
    font-family: roboto, sans-serif
}
a {
    text-decoration: none;
}
ul
{
    list-style: none;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
    /* headear */
    .logo
    {
        color: #000000;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }
    .logo-text
    {
        color: var(--background-color);
    }
    .logo-span,
    .nav-link:focus,
    .nav-link:hover,
    .nav-contact:focus,
    .nav-contact:hover
    {
        color: var(--acent-color)
    }
    .nav-link
    {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
    }
    .nav-contact
    {
        color: var(--primery-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
    }
    .header-nav {
        display: flex;
        align-items: center;
        /* align-items: baseline; */
    }
    .nav-list {
        display: flex;
    }
    .nav-list li+li {
        margin-left: 54px;
    }
    .contact-list{
        display: flex;
    }
    .contact-list li+li {
        margin-left: 50px;
    }

    /* Секція герой */
    .hero-section
    {
        background-color: #2F303A;
    }
    .container-hero {
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 452px;
        padding-right: 452px;
    }
    .hero-title
    {
        color: var(--background-color);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .hero-button
    { 
        background-color: var(--acent-color);
        color: var(--background-color);
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 50px;

    }
    .button-tite
    {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        display: flex;
        margin: auto;
    }
    /* Секція особливості */
    .specific-title
    {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .description-specific
    {
        color: var(--primery-text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
    /* Секція чим займаємось */
    .title-about-work
    {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
    /* Секція знайомства */
    .title-about-team
    {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .name-employee
    {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .description-employee
    {
        color: var(--primery-text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
    /* footer */

    .address
    {
        color: var(--background-color);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        display: flex;
        margin-top: 20px;
    }
    .footer
    {
        background-color: #2F303A;
    }
    .footer-contact
    {
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
    .footer-list-item {
        display: flex;
    }
    .footer-list-item li+li {
        margin-bottom: 9px;
    }
/* Portfolio */

    /* Filter button */
    .title-button
    {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        width: 73px;
    }
    /* card */
    .card-title
    {
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    .card-description
    {
        color: var(--primery-text-color);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
    }